@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*---------------------------> HEADER <---------------------------*/
.slider {
  height: 100vh;
  width: 100%;
  background-image: url(../img/header/BG-Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
.slider .container {
  max-width: 36.46vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__logo {
  width: 195px;
  height: 123px;
  margin: 0 auto;
}
.slider__text {
  text-align: center;
  color: white;
  font-size: 20px;
  letter-spacing: 3.52px;
  position: relative;
  padding: 0 0 51px 0;
}
.slider__text span {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}
.slider__text::after {
  content: "";
  position: absolute;
  width: 105px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: white;
  margin: 0 0 0 -50px;
}
.slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 182px;
  height: 47px;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 1.52px;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slider__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.slider__arrow {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.slider__arrow a {
  color: white;
  font-size: 23px;
  cursor: pointer;
}
.slider__arrow:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
@media screen and (max-width: 700px) {
  .slider__slider .container {
    max-width: 90vw;
  }
}

/*---------------------------> NAV MENU <---------------------------*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom: 1px solid #868585;
  margin: 0 0 129px;
}
.menu .menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 36.46vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu .menu-inner_list {
  padding: 22px 25px 25px 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu-inner_list a {
  color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu .menu-inner_list a:hover {
  color: #8f8a4d;
}
@media screen and (max-width: 700px) {
  .menu .menu-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

/*---------------------------> ABOUT <---------------------------*/
.about {
  padding: 0 0 95px;
}
.about__container {
  max-width: 823px;
  margin: 0px auto;
}
.about__header {
  margin: 0 0 65px 0;
}
.about__title {
  margin: 0px 0px 30px 0px;
}
.about__text {
  max-width: 36.46vw;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}
.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}
.about .title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;
}
.about .title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #353535;
  margin: 0 0 0 -25px;
}
.about .item__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .item-about__icon {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #866b6b;
  font-size: 40px;
}
.about .item-about__title {
  text-align: center;
  color: black;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 35px 0 35px 0;
}
.about .item-about__text {
  text-align: center;
  height: 66px;
  width: 183px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}
@media screen and (max-width: 700px) {
  .about .about__column {
    padding: 30px 0;
  }
  .about .about__row {
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__text {
    max-width: 90vw;
    font-size: 18px;
  }
  .about .about .item-about__text {
    font-size: 17px;
  }
}